body {
  font-size: 15pt;
}

.lbl {
color: black;
}

.val {
  color: grey;
}

span {
  color: black;
  padding: 5px 10px
}
p {
  border: 1px solid black;
  padding: 5px 10px
}

#gitlink, #site, #mail {
  text-align: centre;


}
a {
  text-decoration: none;

}
