@font-face {
	font-family: 'CASTELAR';
	src: url('./CASTELAR.eot');
	src: local('CASTELAR'), url('./CASTELAR.woff') format('woff'), url('./CASTELAR.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_21688">Text with this font applied</p> */
.fontsforweb_fontid_21688 {
	font-family: 'CASTELAR' !important;
}

/* Font downloaded from FontsForWeb.com */